<!DOCTYPE html>
<head>
  <title>List a space</title>
  <link rel="stylesheet" type="text/css" href="<%= url("/update_team.css")%>">
</head>
<body>

  <div id='top-bar'>
    <div id='logo'>
    </div>
    <h1> Player Progress Tracker </h1>
  </div>

  <nav> 
   <a href="/home" id='home'><i class="fas fa-home"></i> Home</a>
    <div class="nav-links">
      <a href="/my_teams">My Teams</a> |
      <a href="/">Logout</a><i class="fas fa-user"></i>
    </div>
  </nav>

  <div class = "container">
    <h1>Please edit the team below, or just leave it as it is!</h1>

    <% Updater.list(id: session[:user_id]).each do |teams|%>
      <h3><%= teams %></h3>
    <%end%>  
    <form class ="team_form" action="/team_updated/<%= session[:teams_id]%>" method="post">
      <input required type="text" name="Name" placeholder="Team name"/>
      <input required type="number" min='0' name="number_of_players" placeholder="Number of Players" />
      <input required type="text" name="coach_or_manager" placeholder="Coach or Manager"/>
      <input type="submit" value="Submit" />
    </form>
    <h4>Add a player</h4>
    <form class ="team" action="/my_teams<%= session[:player_id]%>" method="get">
    <input required type="text" name="name" placeholder='Name'/>
    <input required type="number" min='0' name="age" placeholder="Age" />
    <input required type="text" name="email" placeholder="Email"/>
    <input required type="text" name="phone" placeholder="Phone Number"/>
    <input type="submit" value="Submit" />
  </form>


  </div>
</body>
