#header {
  background-color: #e4e4e4;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  color: black;
  font-size: 2rem;
}
/* navbar */
a {
  text-decoration: none;
  color: black;
  border-radius: 5px;
  padding: 0.5rem;
}
a:hover {
  color: blue;
}
nav {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  margin-top: 10px;
}
#home {
  margin: auto auto auto 0.5rem;
}
.fa-home {
  font-size: 1.2rem;
  color: black;
}
#nav-links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 38rem;
}
.fa-user {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
#username {
  margin-right: 0.8rem;
  text-transform: capitalize;
  font-weight: bold;
  color: blue;
}
.container {
  max-width: 600px;
  max-height: 300px;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  margin: 0.8rem auto 0.8rem auto;
  border: 2px solid black;
  padding: 1rem;
  border-radius: 10px;
  background-color: #e4e4e4;
}
h1 {
  text-align: center;
}
input, textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}